<!DOCTYPE html>
<html>

<head>
    <!-- metadata elements -->
    <title>User authentication</title>
</head>

<header>
</header>

<body>
    <main>
        <form action="/auth/register" method="POST">
            <h1>Register</h1>
            <label for="username">Username</label>
            <input id="usr" type="text" name="username" placeholder="New username" required />
            <label for="password">Password</label>
            <input id="pwd" type="text" name="password" placeholder="> 4 characters" required />
            <input id="submit" type="submit" value="Register"></input>
        </form>
        <hr>
        <form action="/auth/login" method="POST">
            <h1>Login</h1>
            <label for="username">Username</label>
            <input id="usr" type="text" name="username" placeholder="Your username" required />
            <label for="password">Password</label>
            <input id="pwd" type="text" name="password" placeholder="Your password" required />
            <input id="submit" type="submit" value="Login"></input>
        </form>
    </main>
</body>
<footer>
</footer>

</html>